<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>165411154671-9pg887ud34k8f6uo1q8dluen2h1k9i4t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.165411154671-9pg887ud34k8f6uo1q8dluen2h1k9i4t</string>
	<key>API_KEY</key>
	<string>AIzaSyACFTftaauWPKbYkIBITFTRTpuxEze0Blo</string>
	<key>GCM_SENDER_ID</key>
	<string>165411154671</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tresDet</string>
	<key>PROJECT_ID</key>
	<string>tresdet-478dd</string>
	<key>STORAGE_BUCKET</key>
	<string>tresdet-478dd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:165411154671:ios:e68a611b847e5cd129091a</string>
	<key>DATABASE_URL</key>
	<string>https://tresdet-478dd-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>